<% if !!@current_user.nil?%>
  Login to Chitter!

  <form action='/login' method='post'>
    <input type='text' placeholder='username' name='username'>
    <input type='password' placeholder="password" name="password">
    <input type='submit' value="Login">
  </form>
<% else %>
  <%="Signed in as #{@current_user}"%>
<%end%>



<form action='/signup'>
  <input type='submit' value="Sign up for Chitter!">
</form>


<h><%@peep_list.reverse.each do |peep| %>
  <%= peep.user%> sez<br>
  "<%= peep.peep_text%>" <br>
  @ <%= peep.posttime%><br><br>
<%end%>
</h>

<form action="/newpeep" method='post'>
  Input username
  <input type="text" name='user'><br>
  Input peep<br/>
  <textarea rows="4" cols="50" name="peep_text" required='required'>

  </textarea>
  <!-- <input type="text" name="peep_text"> -->
  <input type='submit' value="Peep peep!!">
</form>
