<form action='/registered' method = 'post'>
  Input name
  <input type="text" name='name'><br>
  Input email
  <input type="email" name='email'><br>
  Input username
  <input type="text" name='username'><br>
  Input password
  <input type="password" name='password'><br>
  <input type='submit' value="Sign up!">
</form>
